NODE_ENV=development
LOG_LEVEL=info

# Docker mount volumes
OLLAMA_VOLUME_PATH=/mnt/docker_volumes/ollamadata
BACKEND_VOLUME_PATH=/mnt/docker_volumes/backend
FRONTEND_VOLUME_PATH=/mnt/docker_volumes/frontend

# LLM services
OLLAMA_URL=http://ollama:11434
